<div class="container p-4">
    <div class="row">
        {{#each datos}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="clients/modify?id={{client_id}}">
                        <h3 class="card-title text-uppercase">
                            {{campaign_id}}
                        </h3>
                    </a>
                    <b>Nombre:</b>
                    <p class="m-2">{{campaign_name}}</p>
                    <b>Fecha Inicio:</b>
                    <p class="m-2">{{campaign_start}}</p>
                    <b>Fecha Fin:</b>
                    <p class="m-2">{{campaign_end}}</p>
                    <br>
                    <a href="/campaign/delete/{{campaign_id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/campaign/edit/{{campaign_id}}" class="btn btn-secondary">Modificar</a>
                </div>
            </div>
            <br>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay Campañas cargados aun.</p>
                <a href="/campaign/add">Cargar uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>