<br>
<br>

<div class="div">
    <table id="listdata" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID Campa単a</th>
                <th>Nombre campa単a</th>
                <th>Ganancias Totales</th>
                <th>Hectareas Totales</th>
                <th>Ganancias Facturadas</th>
                <th>Hectareas Facturadas</th>
            </tr>
        </thead>
        <tbody>
            {{#each statistics}}
            <tr>
                <td>{{ campaign_id }}</td>
                <td>{{ campaign_name }}</td>
                <td>{{ total_gain }}</td>
                <td>{{ total_has }}</td>
                <td>{{ total_invoiced }}</td>
                <td>{{ invoiced_has }}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>ID Campa単a</th>
                <th>Nombre campa単a</th>
                <th>Ganancias Totales</th>
                <th>Hectareas Totales</th>
                <th>Ganancias Facturadas</th>
                <th>Hectareas Facturadas</th>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listdata').DataTable({
            language: { url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json" },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
                ,
                {
                    extend: 'csv',
                    text: 'Exportar a CSV',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'excel',
                    text: 'Excel',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'pdf',
                    text: 'PDF',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
                ,
                {
                    extend: 'print',
                    text: 'Imprimir pagina corriente',
                    messageBottom: '\n Impreso en fecha: {{date}}',
                    //messageTop: '',
                    //  orientation: 'landscape',
                    // pageSize: 'A4',
                    title: '{{tagExport}}',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            page: 'current'
                        }
                    }

                }
                ,
                {
                    extend: 'colvis',
                    text: 'Mostrar/Ocultar Columnas'
                }

            ]
        });
    });
</script>