<br>
<br>
<div class="container p-2">
    <div class="row">
        <div class="col-md-2  mx-auto">
            <div class="card">
                <a class="btn btn-primary" href="/at_work/add" role="button">Agregar!</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div id="tableContainer">
    {{!--     <table id="listdata" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
 class="container-fluid"
 --}}
    <table id="listdata" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Campa침a</th>
                <th>Trabajo</th>
                <th>Precio Por HA</th>
                <th>Moneda</th>
                <th>HA trabajadas</th>
                <th> Ganacia del Empleado </th>
                <th>Descripci칩n</th> {{!-- <th>Moneda</th> --}}
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each at_works}}
            <tr>
                <td>{{ at_work_id }}</td>
                <td> <a href="/employee/details/{{employee_id}}"> {{ employee_id }} - {{ employee_name }} </a> </td>
                <td> <a href="/campaign/details/{{campaign_id}}"> {{ campaign_id }} - {{ campaign_name }} </a> </td>
                <td> <a href="/work/details/{{work_id}}"> {{ work_id }} - {{ type }} </a> </td>
                <td>{{ at_work_pricexha }}</td>
                <td>{{ at_work_currency }}</td>
                <td>{{ has }}</td>
                <td> {{ total }} </td>
                <td>{{ at_work_description }}</td>
                <td> <a href="/at_work/edit/{{at_work_id}}"> Modificar </a> </td>
                <td> <a href="/at_work/delete/{{at_work_id}}"> Eliminar </a> </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Empleado</th>
                <th>Campa침a</th>
                <th>Trabajo</th>
                <th>Precio Por HA</th>
                <th>Moneda</th>
                <th>HA trabajadas</th>
                <th> Ganacia del Empleado </th>
                <th>Descripci칩n</th> {{!-- <th>Moneda</th> --}}
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listdata').DataTable({
            language: { url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json" },
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
                ,
                {
                    extend: 'csv',
                    text: 'Exportar a CSV',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'excel',
                    text: 'Excel',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'pdf',
                    text: 'PDF',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
                ,
                {
                    extend: 'print',
                    text: 'Imprimir pagina corriente',
                    messageBottom: '\n Impreso en fecha: {{date}}',
                    //messageTop: '',
                    //  orientation: 'landscape',
                    // pageSize: 'A4',
                    title: '{{tagExport}}',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            page: 'current'
                        }
                    }

                }
                ,
                {
                    extend: 'colvis',
                    text: 'Mostrar/Ocultar Columnas'
                }

            ]
        });
    });
</script>