<div class="container p-4">
    <div class="row">
        <div class="col-md-4  mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/invoice/add" method="POST">
                        <div class="form-group">
                            <label for="nro">Nro de Factura:</label>
                            <input type="number" id="nro" class="form-control" name="nro" placeholder="Nro. de Factura">
                        </div>


                        <div class="form-group">
                            <label for="type">Tipo:</label>
                            <select name="type" id="type" class="form-control form-control-lg">
                                <option value="default" selected> Seleccione un Tipo de Factura. </option>
                                <option value='A'>Factura tipo A
                                </option>
                                <option value='B'>Factura tipo B
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="client_id">Cliente:</label>
                            <select name="client_id" id="client_id" class="form-control form-control-lg">
                                <option value="default"> Seleccione un Cliente. </option>
                                {{#each clients}}
                                <option value={{ client_id }}>{{ client_id }} - {{ client_name }}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="date">Fecha:</label>
                            <input type="date" id="date" class="form-control" name="date" placeholder="Fecha">
                        </div>

                        <div class="form-group">
                            <label for="state">Estado:</label> <br>
                            <input type="text" class="form-control" name="state" id="state" placeholder="Estado">
                        </div>

                        <div class="form-group">
                            <label for="description">Descripción:</label> <br>
                            <textarea name="description" id="description" rows="2" class="form-control"
                                placeholder="Descripción"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="subtotal">Subtotal:</label>
                            <input type="text" class="form-control" id="subtotal" name="subtotal" value='0' placeholder="Subtotal = 0"
                                readonly>
                        </div>

                        <div class="form-group">
                            <label for="iva">IVA:</label>
                            <select name="iva" id="iva" class="form-control form-control-lg"
                                onchange="javascript: sendCampaign(this.options[this.selectedIndex].value);">
                                <option value="default"> Seleccione IVA a aplicar. </option>
                                <option value='1'> IVA Servicios - 10,5. </option>
                                {{!-- {{#each ivas}}
                                <option value={{ iva_id }}>{{ iva_value }} - {{ iva_description }}
                                </option>
                                {{/each}} --}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subtotal">% IVA:</label>
                            <input type="text" class="form-control" id="amount_iva" value='0'  name="amount_iva"
                                placeholder="% IVA" readonly>
                        </div>

                        <div class="form-group">
                            <label for="total">Total:</label>
                            <input type="text" class="form-control" id="total" name="total" value='0' placeholder="Total = 0"
                                readonly>
                            <br>
                            <input type="radio" id="currency" name="currency" value="ARS" checked>
                            Pesos Arg.
                            <input type="radio" id="currency" name="currency" value="U$S"> Dolares
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>