<br>
<br>
<div class="container p-2">
    <div class="row">
        <div class="col-md-2  mx-auto">
            <div class="card">
                <a class="btn btn-primary" href="/invoice/add" role="button">Agregar!</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div id="tableContainer" class="div">
    <table id="listdata" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Descripci贸n</th>
                <th>Moneda</th>
                <th>IVA</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each invoices}}
            <tr>
                <td>{{ invoice_id }}</td>
                <td>{{ client_id }}</td>
                <td>{{ invoice_date }}</td>
                <td>{{ invoice_state }}</td>
                <td>{{ invoice_description }}</td>
                <td>{{ invoice_currency }}</td>
                <td>{{ iva_id }} </td>
                <td>{{ subtotal_amount }}</td>
                <td>{{ total_amount }}</td>
                <td> <a href="/invoice/edit/{{invoice_id}}"> Modificar </a> </td>
                <td> <a href="/invoice/delete/{{invoice_id}}"> Eliminar </a> </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Descripci贸n</th>
                <th>Moneda</th>
                <th>IVA</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>



<div id="tableContainerInvoice" class="div hidden">
    <b>Lineas Facturadas:</b>
    <table id="invoice_line" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Trabajo</th>
                <th>Hectareas Facturadas</th>
                <th>Hectareas Totales</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th>Descripci贸n</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each invoices}}
            <tr>
                <td>{{ invoice_id }}</td>
                <td>{{ client_id }}</td>
                <td>{{ invoice_date }}</td>
                <td>{{ invoice_state }}</td>
                <td>{{ invoice_description }}</td>
                <td>{{ invoice_currency }}</td>
                <td>{{ iva_id }}</td>
                <td>{{ subtotal_amount }}</td>
                <td>{{ total_amount }}</td>
                <td> <a href="/invoice_line/edit/{{invoice_line_id}}"> Modificar </a> </td>
                <td> <a href="/invoice_line/delete/{{invoice_line_id}}"> Eliminar </a> </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Trabajo</th>
                <th>Hectareas Facturadas</th>
                <th>Hectareas Totales</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th>Descripci贸n</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>


<script type="text/javascript">
    function valueOfIva(id_iva) {
        alert('funcion');
        { { ivas } }.forEach(element => {
            alert(element);
            if (element.iva_id == id_iva {
                return (element.iva_value + " - " element.iva_descripcion );
    } 
        });

    }

    $(document).ready(function () {
        $('#listdata').DataTable({
            language: { url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json" },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
                ,
                {
                    extend: 'csv',
                    text: 'Exportar a CSV',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'excel',
                    text: 'Excel',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'pdf',
                    text: 'PDF',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
                ,
                {
                    extend: 'print',
                    text: 'Imprimir pagina corriente',
                    messageBottom: '\n Impreso en fecha: {{date}}',
                    //messageTop: '',
                    //  orientation: 'landscape',
                    // pageSize: 'A4',
                    title: '{{tagExport}}',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            page: 'current'
                        }
                    }

                }
                ,
                {
                    extend: 'colvis',
                    text: 'Mostrar/Ocultar Columnas'
                }

            ]
        });
    });
</script>