<div class="container p-4">
    <div class="row">
        <div class="col-md-4  mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/expense/edit/{{expense.id}}" method="POST">
                        <div class="form-group">
                            <label for="made_to">Realizado a:</label>
                            <input type="text" id="made_to" value="{{expense.made_to}}" class="form-control"
                                name="made_to" placeholder="made_to" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="name">Cantida de dinero:</label>
                            <input type="text" value="{{expense.amount}}" class="form-control" id="amount" name="amount"
                                placeholder="Dinero">
                        </div>

                        <div class="form-group">
                            <label for="date">Fecha:</label>
                            <input type="date" value="{{expense.date}}" id="date" class="form-control" name="date"
                                placeholder="Fecha">
                        </div>

                        <div class="form-group">
                            <label for="type">Estado:</label>
                            <input type="text" id="state" value="{{expense.state}}" class="form-control" name="state"
                                placeholder="Tipo">
                        </div>

                        <div class="form-group">
                            <label for="camp_id">Campa침a:</label>
                            <select name="camp_id" id="camp_id" class="form-control form-control-lg"
                                onchange="javascript: sendCampaign(this.options[this.selectedIndex].value);">
                                <option value="default"> Seleccione una Campa침a. </option>
                                {{#each campaigns}}
                                <option value={{ campaign_id }}>{{ campaign_id }} - {{ campaign_name }}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="work_id">Trabajo:</label>
                            <select name="work_id" id="work_id" class="form-control form-control-lg">
                                <option value="default"> Seleccione un Trabajo. </option>
                                {{#each works}}
                                <option value={{ work_id }}>{{ work_id }} - {{ type }}
                                </option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="location">Descripci칩n:</label> <br>
                            <textarea name="description" id="description" rows="2" class="form-control"
                                placeholder="Descripci칩n">{{expense.description}}</textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                            <a href="/expense/" class="btn btn-success btn-block"> Cancelar </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script language="javascript" type="text/javascript">
    function SetSelectedOption() {
        document.getElementById("camp_id").value = ("{{expense.camp_id}}") ? "{{expense.camp_id}}" : 'default';
        document.getElementById("work_id").value = ("{{expense.work_id}}") ? "{{expense.work_id}}" : 'default';
    }
    $(document).ready(SetSelectedOption);

    function sendCampaign(camp_id) {
        if (camp_id && camp_id != 'default') {
            $.post('/expense/infoCampaign', { camp_id: camp_id }).done(function (data) {
                document.getElementById("work_id").options.length = 1;
                data.forEach(function (element, index) {
                    const value = element.work_id;
                    const text = element.work_id + " - " + element.type;
                    document.getElementById("work_id").options[index + 1] = new Option(text, value, false, false);
                });

                document.getElementById("work_id").value = 'default';


            });
        } else {
            document.getElementById("work_id").options.length = 1;
        }
    }

</script>