<style>
    #listdata_length{

        position: relative;
        left: 230px;

    }
</style>
<br>
<br>
<div class="container p-2">
    <div class="row">
        <div class="col-md-2  mx-auto">
            <div class="card">
                <a class="btn btn-primary" href="/withdrawal/add" role="button">Agregar!</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div id="tableContainer" class="div">
    <table id="listdata" class="display nowrap table-bordered table-hover" cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Emplado</th>
                <th>Cantidad</th>
                <th>Moneda</th>
                <th>Tipo</th>
                <th>Entregó</th>
                <th>Campaña</th>
                <th>Trabajo</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each withdrawals}}
            <tr>
                <td>{{ withdrawal_id }}</td>
                <td> <a href="/employee/details/{{employee_id}}"> {{ employee_id }} - {{ employee_name }} </a> </td>
                <td>{{ withdrawal_amount }}</td>
                <td>{{ withdrawal_currency }}</td>
                <td>{{ withdrawal_type }}</td>
                <td>{{ withdrawal.deliverer }}</td>
                <td> <a href="/campaign/details/{{campaign_id}}"> {{ campaign_id }} - {{ campaign_name }} </a> </td>
                <td> <a href="/work/details/{{work_id}}"> {{ work_id }} - {{ type }} </a> </td>
                <td>{{ withdrawal_date }}</td>
                <td>{{ withdrawal_description }}</td>
                <td> <a href="/withdrawal/edit/{{withdrawal_id}}"> Modificar </a> </td>
                <td> <a href="/withdrawal/delete/{{withdrawal_id}}"> Eliminar </a> </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listdata').DataTable({
            language: { url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json" },
            dom: 'Bfrtipl',
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                totalSubt = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotalSubt = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    '$' + pageTotalSubt + ' ( $' + totalSubt + ' total)'
                );

            },
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copiar',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
                ,
                {
                    extend: 'csv',
                    text: 'Exportar a CSV',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'excel',
                    text: 'Excel',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }

                }
                ,
                {
                    extend: 'pdf',
                    text: 'PDF',
                    title: '{{tagExport}}',
                    filename: '{{tagExport}}' + '{{date}}',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
                ,
                {
                    extend: 'print',
                    text: 'Imprimir pagina corriente',
                    messageBottom: '\n Impreso en fecha: {{date}}',
                    //messageTop: '',
                    //  orientation: 'landscape',
                    // pageSize: 'A4',
                    title: '{{tagExport}}',
                    exportOptions: {
                        columns: ':visible',
                        modifier: {
                            page: 'current'
                        }
                    }

                }
                ,
                {
                    extend: 'colvis',
                    text: 'Mostrar/Ocultar Columnas'
                }

            ]
        });
    });
</script>